body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  cursor: none;
  overflow-x: hidden;

  &.is-blocked,
  &.is-modal-open,
  &.is-gradpanel-open,
  &.is-nav-mobile-open {
    overflow: hidden;
  }

  #viewport {
    background-color: $white;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;

    @include media-breakpoint-down(lg) {
      top: 0.5px;
      bottom: 0.5px;
      height: auto;
    }
  }
}
