body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  cursor: none;
  overflow-x: hidden;

  &.is-blocked,
  &.is-modal-open,
  &.is-gradpanel-open,
  &.is-nav-mobile-open {
    overflow: hidden;
  }

  #viewport {
    background-color: $white;
  }
}
