/* ==========================================================================
   #TEXT-UTILITIES
   ========================================================================== */

.u-text-upper {
  text-transform: uppercase !important;
}

.u-text-right {
  text-align: right !important;
}

.u-color-dark {
  color: $dark !important;
}

.u-color-primary-03 {
  color: $primary-03 !important;
}

.u-color-white {
  color: $white !important;
}

.u-font-size-base {
  font-size: $font-size-base !important;
}
