<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>s3-hero</title>
</head>
<body>
  <div id="viewport">
    <header class="o-header">
      <div class="o-header__container">
        <div class="o-header__row">
          <a href="./index.html" class="o-header__brand">
            <div class="c-brand">
              <div class="c-brand__split c-brand__split--1">
                <img src="../assets/images/logo-1.png" alt="logo" class="c-brand__image">
              </div>
              <div class="c-brand__split c-brand__split--2">
                <img src="../assets/images/logo-2.png" alt="logo" class="c-brand__image">
              </div>
            </div>
          </a>
          <div class="o-header__toggler">
            <span class="o-header__toggler-dot o-header__toggler-dot--bg"></span>
            <span class="o-header__toggler-dot"></span>
            <span class="o-header__toggler-dot"></span>
            <img src="../assets/images/triangle-black.png" alt="triangle" class="o-header__toggler-triangle">
          </div>

        </div>
      </div>
      <div class="o-header__menu c-menu">
        <div class="c-menu__container">
          <div class="c-menu__row">
            <div class="c-menu__col c-menu__col--list">
              <ul class="c-menu__list">
                <li class="c-menu__item">
                  <a href="#" class="c-menu__link js-link">
                    <h3 class="c-menu__link-title">Home</h3>
                  </a>
                </li>
                <li class="c-menu__item">
                  <a href="#" class="c-menu__link js-link">
                    <h3 class="c-menu__link-title">Services</h3>
                    <p class="c-menu__link-subtitle">OUR EXPERTISE </p>
                  </a>
                </li>
                <li class="c-menu__item">
                  <a href="#" class="c-menu__link js-link">
                    <h3 class="c-menu__link-title">Projects</h3>
                    <p class="c-menu__link-subtitle">HIGHLIGHTED EXPERIENCE </p>
                  </a>
                </li>
                <li class="c-menu__item">
                  <a href="#" class="c-menu__link js-link">
                    <h3 class="c-menu__link-title">Meet s3</h3>
                    <p class="c-menu__link-subtitle">OUR TEAM</p>
                  </a>
                </li>
                <li class="c-menu__item">
                  <a href="#" class="c-menu__link js-link">
                    <h3 class="c-menu__link-title">Connect</h3>
                    <p class="c-menu__link-subtitle">CONTACT US </p>
                  </a>
                </li>
              </ul>
            </div>
            <div class="c-menu__col c-menu__col--social">
              <div class="c-menu__socials">
                <a href="#" class="c-menu__social js-link"><img src="../assets/svgs/instagram_icon.svg" alt="icon"></a>
                <a href="#" class="c-menu__social js-link"><img src="../assets/svgs/linkedin_social_icon.svg" alt="icon"></a>
                <a href="#" class="c-menu__social js-link"><img src="../assets/svgs/twitter_social_icon.svg" alt="icon"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <div class="c-cursor">
      <div class="c-cursor__inner"></div>
    </div>

    <main class="o-main" id="main">
      <secticon class="o-hero">
        <div class="o-hero__slider">
          <div class="o-hero__slider-container">
            <div class="o-hero__slider-item">
              <div class="o-banner">
                <div class="o-banner__inner">
                  <div class="o-banner__image-wrap">
                    <img src="../assets/images/301855393.jpg" alt="" class="o-banner__image">
                  </div>
                  <div class="o-banner__container">
                    <div class="o-banner__content">
                      <h1 class="o-banner__title">Construction <br>  Reimagined.</h1>
                      <p class="o-banner__text">Innovating construction to empower brands.</p>
                      <a href="#" class="o-banner__cta js-link">Connect With Us </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="o-hero__slider-item">
              <div class="o-banner">
                <div class="o-banner__inner">
                  <div class="o-banner__image-wrap">
                    <img src="../assets/images/315906604.jpg" alt="" class="o-banner__image">
                  </div>
                  <div class="o-banner__container">
                    <div class="o-banner__content">
                      <h1 class="o-banner__title">Advancing<br> Sustainability.</h1>
                      <p class="o-banner__text">Pushing boundaries to enhance the built environment.</p>
                      <a href="#" class="o-banner__cta js-link">Connect With Us </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="o-hero__slider-item">
              <div class="o-banner">
                <div class="o-banner__inner">
                  <div class="o-banner__image-wrap">
                    <img src="../assets/images/346330096.jpg" alt="" class="o-banner__image">
                  </div>
                  <div class="o-banner__container">
                    <div class="o-banner__content">
                      <h1 class="o-banner__title">Embracing <br> Technology</h1>
                      <p class="o-banner__text">Acceleration through digitization & automation.</p>
                      <a href="#" class="o-banner__cta js-link">Connect With Us </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </secticon>

      <secticon class="o-slogan">
        <div class="o-slogan__bg">
          <img src="../assets/images/MicrosoftTeams-image-2.png" class="o-slogan__bg-image">
        </div>
        <div class="o-slogan__container">
          <p class="o-slogan__text">We are growing <span class="o-slogan__text-hilight">s3</span>  in a responsible and <span class="o-slogan__text-hilight">sustainable</span> way, for the long teerm benefit  of all, making a meaningful difference and assisting customers implement intentional strategies in leaving light footprints.</p>
        </div>
      </secticon>


      <section class="o-brand">
        <h2 class="o-brand__title">Building Brands <br>
          Through Construction.</h2>
        <div class="o-brand__container">
          <div class="o-brand__row">
            <div class="o-brand__col">
              <a href="#" class="js-link">
                <div class="c-brand-card">
                  <div class="c-brand-card__image-wrap"><img src="../assets/images/347543797.jpg" alt="image" class="c-brand-card__image"></div>
                  <h3 class="c-brand-card__title">Be Innovative</h3>
                  <div class="c-brand-card__description">
                    <p class="c-brand-card__text">Commitment to advancing impactful designs that drive human and environmental well-being.</p>
                  </div>
                </div>
              </a>
            </div>
            <div class="o-brand__col">
              <a href="#" class="js-link">
                <div class="c-brand-card">
                  <div class="c-brand-card__image-wrap"><img src="../assets/images/350145808.jpg" alt="image" class="c-brand-card__image"></div>
                  <h3 class="c-brand-card__title">Be Intentional </h3>
                  <div class="c-brand-card__description">
                    <p class="c-brand-card__text">Commitment to advancing impactful designs that drive human and environmental well-being.</p>
                  </div>
                </div>
              </a>
            </div>
            <div class="o-brand__col">
              <a href="#" class="js-link">
                <div class="c-brand-card">
                  <div class="c-brand-card__image-wrap"><img src="../assets/images/354222158.jpg" alt="image" class="c-brand-card__image"></div>
                  <h3 class="c-brand-card__title">Be Creative </h3>
                  <div class="c-brand-card__description">
                    <p class="c-brand-card__text">Commitment to advancing impactful designs that drive human and environmental well-being.</p>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <a href="#" class="o-brand__cta js-link">Learn more</a>
        </div>
      </section>

      <section class="o-value">
        <div class="o-value__bg o-bg">
          <img src="../assets/images/354222158.jpg" alt="bg" class="o-value__bg-image o-bg__image">
        </div>
        <h2 class="o-value__title">Creating Value.</h2>
        <div class="o-value__container">
          <div class="o-value__items">
            <div class="o-value__item">
              <div class="o-value__counter">
                <div class="o-value__count js-count" data-value="5000">0</div>
                <div class="o-value__count-sing">+</div>
              </div>
              <div class="o-value__item-title">COMPLETED PROJECTS</div>
            </div>
            <div class="o-value__item">
              <div class="o-value__counter">
                <div class="o-value__count js-count" data-value="75">0</div>
                <div class="o-value__count-sing">+</div>
                <div class="o-value__count-text">years</div>
              </div>
              <div class="o-value__item-title">COMBINED EXPERIENCE </div>
            </div>
            <div class="o-value__item">
              <div class="o-value__counter">
                <div class="o-value__count js-count" data-value="3">0</div>
                <div class="o-value__count-sing">+</div>
                <div class="o-value__count-text">MIL</div>
              </div>
              <div class="o-value__item-title">SQUARE FEET </div>
            </div>
          </div>
        </div>
      </section>


      <section class="o-customers">
        <div class="o-customers__container">
          <h2 class="o-customers__title">Our Brand Customers.</h2>
          <p class="o-customers__subtitle">DELIVERING SOLUTION WITH A PURPOSE. </p>
        </div>
        <div class="o-customers__container-projects">
          <div class="o-customers__row">
            <div class="c-project-card">
              <div class="c-project-card__inner">
                <div class="c-project-card__image-wrap">
                  <img src="../assets/images/369418126.jpg" alt="image" class="c-project-card__image">
                </div>
                <div class="c-project-card__content">
                  <div class="c-project-card__content-inner">
                    <p class="c-project-card__subtitle">Lorem Ipsum 2</p>
                    <h2 class="c-project-card__title">Topgolf</h2>
                    <p class="c-project-card__text">“What sets ARCO/Murray apart from the competition is their consistent willingness to drive value for the client. They are one of our most valued partners.”</p>
                    <p class="c-project-card__companey">Kevin Miner, VP of Development</p>
                    <a href="#" class="c-project-card__cta js-link">VIEW THE PROJECT </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="c-project-card">
              <div class="c-project-card__inner">
                <div class="c-project-card__image-wrap">
                  <img src="../assets/images/354222158.jpg" alt="image" class="c-project-card__image">
                </div>
                <div class="c-project-card__content">
                  <div class="c-project-card__content-inner">
                    <p class="c-project-card__subtitle">Lorem Ipsum 2</p>
                    <h2 class="c-project-card__title">Topgolf</h2>
                    <p class="c-project-card__text">“What sets ARCO/Murray apart from the competition is their consistent willingness to drive value for the client. They are one of our most valued partners.”</p>
                    <p class="c-project-card__companey">Kevin Miner, VP of Development</p>
                    <a href="#" class="c-project-card__cta js-link">VIEW THE PROJECT </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="c-project-card">
              <div class="c-project-card__inner">
                <div class="c-project-card__image-wrap">
                  <img src="../assets/images/315906604.jpg" alt="image" class="c-project-card__image">
                </div>
                <div class="c-project-card__content">
                  <div class="c-project-card__content-inner">
                    <p class="c-project-card__subtitle">Lorem Ipsum 2</p>
                    <h2 class="c-project-card__title">Topgolf</h2>
                    <p class="c-project-card__text">“What sets ARCO/Murray apart from the competition is their consistent willingness to drive value for the client. They are one of our most valued partners.”</p>
                    <p class="c-project-card__companey">Kevin Miner, VP of Development</p>
                    <a href="#" class="c-project-card__cta js-link">VIEW THE PROJECT </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="c-project-card">
              <div class="c-project-card__inner">
                <div class="c-project-card__image-wrap">
                  <img src="../assets/images/347543797.jpg" alt="image" class="c-project-card__image">
                </div>
                <div class="c-project-card__content">
                  <div class="c-project-card__content-inner">
                    <p class="c-project-card__subtitle">Lorem Ipsum 2</p>
                    <h2 class="c-project-card__title">Topgolf</h2>
                    <p class="c-project-card__text">“What sets ARCO/Murray apart from the competition is their consistent willingness to drive value for the client. They are one of our most valued partners.”</p>
                    <p class="c-project-card__companey">Kevin Miner, VP of Development</p>
                    <a href="#" class="c-project-card__cta js-link">VIEW THE PROJECT </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="c-project-card">
              <div class="c-project-card__inner">
                <div class="c-project-card__image-wrap">
                  <img src="../assets/images/369418126.jpg" alt="image" class="c-project-card__image">
                </div>
                <div class="c-project-card__content">
                  <div class="c-project-card__content-inner">
                    <p class="c-project-card__subtitle">Lorem Ipsum 2</p>
                    <h2 class="c-project-card__title">Topgolf</h2>
                    <p class="c-project-card__text">“What sets ARCO/Murray apart from the competition is their consistent willingness to drive value for the client. They are one of our most valued partners.”</p>
                    <p class="c-project-card__companey">Kevin Miner, VP of Development</p>
                    <a href="#" class="c-project-card__cta js-link">VIEW THE PROJECT </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="c-project-card">
              <div class="c-project-card__inner">
                <div class="c-project-card__image-wrap">
                  <img src="../assets/images/369418126.jpg" alt="image" class="c-project-card__image">
                </div>
                <div class="c-project-card__content">
                  <div class="c-project-card__content-inner">
                    <p class="c-project-card__subtitle">Lorem Ipsum 2</p>
                    <h2 class="c-project-card__title">Topgolf</h2>
                    <p class="c-project-card__text">“What sets ARCO/Murray apart from the competition is their consistent willingness to drive value for the client. They are one of our most valued partners.”</p>
                    <p class="c-project-card__companey">Kevin Miner, VP of Development</p>
                    <a href="#" class="c-project-card__cta js-link">VIEW THE PROJECT </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="o-trusted">
        <div class="o-trusted__container">
          <div class="o-trusted__top">
            <h2 class="o-trusted__title">Trusted By.</h2>
            <div class="o-trusted__symbol">
              <img src="../assets/images/Pic2.png" alt="symbol">
            </div>
          </div>
          <div class="o-trusted__row">
            <div class="o-trusted__brand">
              <img src="../assets/images/logo-exeter-property-group.jpg" alt="logo" class="o-trusted__logo">
            </div>
            <div class="o-trusted__brand">
              <img src="../assets/images/maytec-logo.png" alt="logo" class="o-trusted__logo">
            </div>
            <div class="o-trusted__brand">
              <img src="../assets/images/Brookfield_Properties_logo.png" alt="logo" class="o-trusted__logo">
            </div>
            <div class="o-trusted__brand">
              <img src="../assets/images/e1b8fe69f72738003e6c189fc034253e-2048x437.jpeg" alt="logo" class="o-trusted__logo">
            </div>
            <div class="o-trusted__brand">
              <img src="../assets/images/mc2-vector-logo.png" alt="logo" class="o-trusted__logo">
            </div>
            <div class="o-trusted__brand">
              <img src="../assets/images/Venture-One-logo.jpeg" alt="logo" class="o-trusted__logo">
            </div>
            <div class="o-trusted__brand">
              <img src="../assets/images/trudeau-logo.jpeg" alt="logo" class="o-trusted__logo">
            </div>
            <div class="o-trusted__brand">
              <img src="../assets/images/nps_corp_pdf_logo_alt.png" alt="logo" class="o-trusted__logo">
            </div>
            <div class="o-trusted__brand">
              <img src="../assets/images/elkay-plastics-300x159-1.png" alt="logo" class="o-trusted__logo">
            </div>
          </div>
        </div>
      </section>


    </div>
  </main>
</body>
</html>
