.o-brand {
  display: block;
  padding: rem(54px + 27px) 0;

  &__title {
    @include make-container();

    font-weight: $font-weight-bold;
    max-width: rem(1200px + $grid-gutter-width);
    margin-bottom: rem(57px);
  }

  &__container {
    @include make-container();

    max-width: rem(1800px + $grid-gutter-width);
  }

  &__row {
    @include make-row();
  }

  &__col {
    @include make-col-ready();
    @include make-col(4);

    > .js-link {
      display: contents;
    }
  }
}
