.o-footer {
  $root: &;
  width: 100%;
  padding-top: rem(37px);
  padding-bottom: rem(10px);
  background-color: $black;
  position: relative;
  z-index: 8;


  &__top {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: rem(27px);
    padding-bottom: rem(37px);
    border-bottom: 1px solid $grey;

    @include media-breakpoint-down(sm) {
      padding-top: 0;
    }
  }

  &__logo {
    max-width: rem(180px);
    width: 100%;

    @include media-breakpoint-down(sm) {
      max-width: rem(150px);
    }

    @include media-breakpoint-down(xs) {
      max-width: rem(120px);
    }
  }

  &__nav {
    padding-top: rem(27px);
    padding-bottom: rem(45px);
    border-bottom: 1px solid $grey;
  }

  &__nav-container {
    @include make-container();

    max-width: rem(1080px + $grid-gutter-width);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;


    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }
  }

  &__nav-link {
    margin-bottom: rem(27px);
    text-align: center;

    &:hover {
      #{$root} {
        &__nav-title, &__nav-sub {
          color: $primary-03;
        }
      }
    }
  }

  &__nav-title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $grey;
    font-size: rem(40px);
    line-height: rem(36px);
    font-family: $headings-font-family;
    font-weight: $font-weight-bold;
    transition: 0.3s ease;
  }

  &__nav-title-big {
    font-size: rem(50px);
    line-height: rem(46px);
    margin-top: -19px;
  }

  &__nav-sub {
    color: $white;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    margin-bottom: 0;
    transition: 0.3s ease;
  }

  &__bottom {
    padding: rem(15px) 0;
  }

  &__bottom-container {
    @include make-container();

    max-width: rem(1080px + $grid-gutter-width);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__office {
    padding: rem(15px) 0;
  }

  &__office-title {
    color: $primary;
    letter-spacing: 1px;
    margin-bottom: 0;
  }

  &__office-address {
    color: $white;
    font-size: rem(14px);
    word-spacing: rem(3px);
    font-weight: $font-weight-bold;
    margin-top: rem(10px);
    margin-bottom: 0;
  }

  &__ctas {
    padding-top: rem(15px);
  }

  &__ctas-top {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__cta {
    color: $white;
    margin-right: rem(30px);
    display: flex;

    &:hover {
      color: $primary;
    }
  }

  &__socials {
    display: flex;
    align-items: center;
  }

  &__social {
    &:hover {
      #{$root}__social-icon {
        fill: $primary;
      }
    }
    &+& {
      margin-left: rem(8px);
    }
  }

  &__social-icon {
    fill: $white;
    width: rem(35px);
    transition: 0.3s ease;

    &--linkdin {
      width: rem(45px);
    }

    @include media-breakpoint-down(sm) {
      width: rem(30px);

      &--linkdin {
        width: rem(42px);
      }
    }
  }

  &__proud {
    padding-top: rem(15px);

    >a {
      display: inline-block;
      position: relative;

      &:hover {
        #{$root}__proud-image {
          &--hover {
            opacity: 1;
          }
    
          &--primary {
            opacity: 0;
          }
        }
      }
    }
  }

  &__proud-image {
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.5s ease;
    will-change: transform;

    &--hover {
      z-index: 2;
      opacity: 0;
    }

    &--primary {
      z-index: 1;
    }

  }

  &__proud-text {
    color: $white;
    font-size: rem(12px);
    margin-bottom: 0;
  } 

  &__copyright {
    font-size: rem(12px);
    color: $white;
    letter-spacing: 0.75px;
    text-align: center;
    padding-bottom: rem(30px);
    margin-bottom: 0;

    > a {
      display: inline-block;
      font-size: rem(12px);
    }

  }

}
