.o-banner {
  $root: &;

  flex: 0 0 auto;
  width: 0;
  height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 2s;
  transition-timing-function: cubic-bezier(1,.06,.05,1);
  transform-origin: center;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);

  &__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    white-space: nowrap;
    animation-duration: 11s;
    animation-fill-mode: forwards;
    transform-origin: center;
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190); ;
    // transition-timing-function: cubic-bezier(1,.06,.05,1);
  }

  &__image-wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba($black, 0.6);
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__container {
    @include make-container();
    @include make-container-max-widths();

    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    position: relative;
    z-index: 2;
  }

  &.is-active {
    width: 300vw;
    height: 300vw;

    #{$root} {
      &__inner {
        animation-name: zoom;
      }
    }
  }

  &__title {
    color: $white;
  }

  &__text {
    color: $white;
  }
}
