.o-customers {
  display: block;
  padding-top: rem(54px + 27px);
  padding-bottom: rem(54px + 27px);
  background-color: $white;

  @include media-breakpoint-down(xl) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &__container {
    @include make-container();

    max-width: rem(1200px + $grid-gutter-width);
  }

  &__container-projects {
    width: 100%;
    overflow: hidden;
    margin-top: rem(27px + 16px);

    @include media-breakpoint-down(md) {
      padding: 0 rem($grid-gutter-width / 2);
    }
  }

  &__row {
    display: flex;

    @include media-breakpoint-down(md) {
      flex-wrap: wrap;
    }
  }

  &__title {
    font-weight: $font-weight-bold;
    margin-bottom: 0;
  }

  &__subtitle {
    font-size: rem(18px);
    font-weight: $font-weight-bold;
    margin-top: rem(10px);
    margin-bottom: 0;
  }


}
