.o-visionaries {
  display: block;
  position: relative;
  z-index: 5;
  &__container {
    @include make-container();

    padding-top: rem(70px);
    padding-bottom: rem(70px);
    background: $white;
    position: relative;
    mix-blend-mode: screen;
    z-index: 2;
  }

  &__title {
    color:   $grey;
    font-size: rem(58px);
    line-height: rem(58px);
    letter-spacing: -5px;
    font-family: $font-family-base;
    font-weight: $font-weight-bolder;
    mix-blend-mode: darken;
    background-color: $white;

    @include media-breakpoint-up(sm) {
      font-size: rem(100px);
      line-height: rem(100px);
    }

    @include media-breakpoint-up(md) {
      font-size: rem(130px);
      line-height: rem(130px);
    }

    @include media-breakpoint-up(lg) {
      font-size: rem(170px);
      line-height: rem(170px);
    }

    @include media-breakpoint-up(xl) {
      font-size: rem(215px);
      line-height: rem(215px);
    }

    @include media-breakpoint-up(xxl) {
      font-size: rem(245px);
      line-height: rem(245px);
    }

    @include media-breakpoint-up(xxxl) {
      font-size: rem(314px);
      line-height: rem(314px);
    }

  }

  &__symbol {
    position: absolute;
    width: 60%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 0;

    > img {
      max-width: 100%;
    }

    @include media-breakpoint-up(xl) {
    }
  }
}
