.o-trusted {
  display: block;
  padding-top: rem(120px);
  padding-bottom: rem(50px);

  @include media-breakpoint-up(xl) {
    padding-top: rem(200px);
    padding-bottom: rem(32px);
  }

  @include media-breakpoint-down(sm) {
    padding-top: rem(50px);
  }

  &__container {
    @include make-container();
    max-width: rem(1200px);
  }

  &__top {
    position: relative;
    padding-left: rem(100px);
    margin-bottom: rem(100px);

    @include media-breakpoint-up(xl) {
      margin-bottom: rem(133px);
    }

  }

  &__symbol {
    width: rem(220px);
    height: rem(188px);
    position: absolute;
    top: -70px;
    left: -0;
    z-index: 1;

    >img {
      max-width: 100%;
      height: 100%;
    }

    @include media-breakpoint-down(md) {
      width: rem(120px);
      height: rem(108px);
      top: -51px;
      left: 55px;

    }
  }

  &__title {
    font-weight: $font-weight-bold;
    margin-bottom: 0;
    position: relative;
    z-index: 2;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
  }

  &__brand {
    @include make-col(4);
    height: 180px;
    padding: rem(25px);
    display: flex;
    align-items: center;
    justify-content: center;
    filter: saturate(0%);
    transition: filter 300ms ease 0ms;

    @include media-breakpoint-down(lg) {
      height: rem(120px);
    }

    @include media-breakpoint-down(md) {
      height: auto;
    }

    &:nth-child(n+4) {
      border-top: 1px solid rgba(51, 51, 51, 0.27);
      border-bottom: 1px solid rgba(51, 51, 51, 0.27);
    }

    &:nth-child(n+7) {
      border: none;
    }

    &:nth-child(5),
    &:nth-child(2),
    &:nth-child(8) {
      border-left: 1px solid rgba(51, 51, 51, 0.27);
      border-right: 1px solid rgba(51, 51, 51, 0.27);
    }

    &:hover {
      filter: saturate(100%);
    }
  }

  &__logo {
    max-width: 100%;
    height: 100%;
  }
}
