.o-bg {
    position: absolute;
    inset: 0 0 0 0;
    overflow: hidden;

    &::after {
      content: '';
      position: absolute;
      inset: 0 0 0 0;
      background-image: radial-gradient(circle at left,rgba(0,0,0,0.55) 66%,rgba(38,38,38,0.75) 100%);
      z-index: 2;
    }

  &__image {
    width: 150%;
    height: 150%;
    object-fit: cover;
    will-change: object-fit;
  }

}
