.o-collaborators {
  display: block;
  padding: rem(85px) 0;
  background-color: $white;


  &__container {
    @include make-container();

    max-width: rem(1200px + $grid-gutter-width);
  }

  &__title {
    font-weight: $font-weight-bold;
    margin-bottom: rem(65px);
  }

  &__row {
    @include make-row($gutter: 40px);
  }

  &__col {
    @include make-col-ready($gutter: 40px);

    @include media-breakpoint-up(md) {
      @include make-col(6);
    }
  }
}
