.o-collaborators {
  display: block;
  padding: rem(85px) 0;

  &__container {
    @include make-container ();

    max-width: rem(1800px + $grid-gutter-width);
  }

  &__title {
    font-weight: $font-weight-bold;
    margin-bottom: rem(65px);
  }

  &__row {
    @include make-row($gutter: 15px);
  }

  &__col {
    @include make-col-ready($gutter: 15px);

    @include media-breakpoint-up(md) {
      @include make-col(6);
    }

    @include media-breakpoint-up(lg) {
      @include make-col(4);
    }

    @include media-breakpoint-up(xxl) {
      @include make-col(3);
    }
  }
}
