.js-sticky-section {
  // position: fixed;
  // left: 0;
  max-width: 100% !important;
  width: 100% !important;
  // z-index: 50;
  background-color: $white;
  will-change: transform;
}

.pin-spacer {
  width: 100% !important;
}
