.o-banner {
  $root: &;

  flex: 0 0 auto;
  width: 0;
  height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: center;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);

  &__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding-top: rem(90px);
    animation-duration: 11s;
    animation-fill-mode: forwards;
    transform-origin: center;
    animation-timing-function: cubic-bezier(0.12, 0.15, 1, 0.99);
  }


  &__image-wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba($black, 0.5);
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__container {
    @include make-container();
    @include make-container-max-widths();

    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    position: relative;
    z-index: 2;
  }

  &.is-active {

    #{$root} {
      &__inner {
        animation-name: zoom;
      }
    }
  }

  &__title {
    color: $white;
    font-weight: $font-weight-normal;
    margin-bottom: 0;
  }

  &__text {
    color: $primary;
    margin-top: rem(10px);
    margin-bottom: 0;
  }

  &__cta {
    font-size: rem(13px);
    color: $white;
    padding: 8px 16px;
    margin-top: 10px;
    display: inline-block;
    border: 1px solid #d3d3d3;
    position: relative;
    overflow: hidden;

    &::after {
      content: '';
      width: 200%;
      height: 500%;
      background-color: $primary;
      position: absolute;
      top: 0;
      right: 100%;
      transform: rotate(45deg);
      z-index: -1;
      transition: 0.3s;
      animation-timing-function: cubic-bezier(0.12, 0.15, 1, 0.99);
    }

    &:hover {
      text-decoration: none;
      color: $white;

      &::after {
        right: -70%;
      }
    }
  }
}
