.o-visionaries {
  display: block;
  position: relative;

  &__container {
    @include make-container();

    padding-top: rem(100px);
    padding-bottom: rem(100px);
    background: $white;
    position: relative;
    mix-blend-mode: screen;
    z-index: 2;
  }

  &__title {
    color:   $grey;
    font-size: rem(200px);
    line-height: rem(180px);
    letter-spacing: -15px;
    padding-left: rem(150px);
    font-family: $font-family-base;
    font-weight: $font-weight-bolder;

    @include media-breakpoint-up(xl) {
      font-size: rem(260px);
      line-height: rem(250px);
    }
  }

  &__symbol {
    position: absolute;
    width: 60%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 5;

    > img {
      max-width: 100%;
    }

    @include media-breakpoint-up(xl) {
    }
  }
}
