.o-header {
  $root: &;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-top: $grid-gutter-width / 2;
  z-index: map-get($z-layers, header);

  &__container {
    max-width: calc(100vw - 60px);
    padding-left: $grid-gutter-width / 2;
    padding-right: $grid-gutter-width / 2;
    margin-left: auto;
    margin-right: auto;

    @include media-breakpoint-down(sm) {
      max-width: 100%;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__brand {
    position: relative;
    z-index: 2;
  }

  &__toggler {
    width: rem(38px);
    height: rem(38px);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;

    &.is-active {
      #{$root}__toggler-triangle {
        width: 55px;
        height: auto;
        transition-delay: 0s;
      }
    }
  }

  &__toggler-dot {
    display: block;
    width: rem(7px);
    height: rem(7px);
    margin-bottom: 4px;
    background-color: $primary-01;
    border-radius: 50%;

    &--bg {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        bottom: calc(0px - 50px);
        right: calc(3px - 50px);
        width: 100px;
        height: 100px;
        background-color: $primary-01;
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        border-radius: none;
        transform-origin: center;
        transform: scale(0.0);
        will-change: transform;
      }

    }
  }

  &__toggler-triangle {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0px;
    overflow: hidden;
    transition: 0.5s cubic-bezier(.39, .58, .28, 1.02) 1s;
    will-change: width;
  }

  &__menu {
    visibility: hidden;
    opacity: 0;
    z-index: 5;
    transition: 1s cubic-bezier(.39, .58, .28, 1.02) 0s;
    will-change: visibility, opacity;
  }

  &.is-load {
    #{$root} {
      &__toggler-dot--bg {
        &::after {
          transition: 1.5s cubic-bezier(.39, .58, .28, 1.02) 0s;
        }
      }
    }
  }

  &.is-active {
    #{$root} {
      &__toggler-dot--bg {
        &::after {
          transform: scale(100);
          background-color: $primary-02;
        }
      }

      &__menu {
        opacity: 1;
        visibility: visible;
      }
    }


    .c-brand__menu {
      opacity: 1;
      transition-delay: 0.5s;

      @include media-breakpoint-down(xl) {
        transition-delay: 0.3s;
      }

      @include media-breakpoint-down(lg) {
        transition-delay: 0.2s;
      }

      @include media-breakpoint-down(md) {
        transition-delay: 0.1s;
      }
    }

    .c-brand__split {
      opacity: 0;
      transition-delay: 0.5s;
    }
  }
}
