.o-service {
  --main-bg-color: #{#ebebeb};
  --bg-color: #{$white};
  --subtitle-color: #{$black};
  --title-underline-color: #{$primary-03};
  --text-color : #{$black};

  $root: &;

  height: 100vh;
  display: block;
  position: relative;
  z-index: 2;
  will-change: transform;


  &__container {
    @include make-container();

    max-width: rem(1200 + $grid-gutter-width);
    padding-top: rem(100px);
    padding-bottom: rem(100px);
    position: relative;
    z-index: 4;
  }

  &__row {
    @include make-row();
  }

  &__col {
    @include make-col-ready();
    @include make-col(6);
  }

  &__content {
    padding-left: rem(100px);
    opacity: 0;
    transition: 0.3s;
    will-change: opacity;
  }


  &__title-spacer {
    position: relative;
    height: rem(105px);

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -60px;
      width: rem(160px);
      height: 20px;
      background: var(--title-underline-color);
      clip-path: polygon(0 0, 100% 0, 87% 100%, 0% 100%);
    }
  }

  &__symbol {
    width: 300px;
    height: 300px;
    margin-left: auto;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  &__header {
    display: flex;
    align-items: center;
  }

  &__icon {
    padding: rem(10px);
    margin-right: rem(10px);
  }

  &__subtitle {
    color: var(--subtitle-color);
    padding: rem(10px) rem(20px);
  }

  &__text {
    margin-top: rem(20px);
    color: var(--text-color);
  }

  &--primary {
    --main-bg-color: #{$white};
    --bg-color: #{$primary-03};
    --subtitle-color: #{$white};
    --title-underline-color: #{$black};
    --text-color : #{$black};

  }

  &--grey {
    --main-bg-color: #{$primary-03};
    --bg-color: #{#ebebeb};
    --subtitle-color: #{$black};
    --title-underline-color: #{$primary};
    --text-color : #{$black};

  }

  &--black {
    --main-bg-color: #{$white};
    --bg-color: #{$black};
    --subtitle-color: #{$white};
    --title-underline-color: #{$white};
    --text-color : #{$white};


    #{$root}__symbol {
      // filter: invert(1);
    }
  }
}
