.o-projects {
  display: block;
  padding: rem(100px) 0;
  position: relative;

  &__container {
    @include make-container();

    max-width: rem(1080px + $grid-gutter-width);
  }

  &__row {
    @include make-row();
  }

  &__col {
    @include make-col-ready();

    @include media-breakpoint-up(lg) {
      &--4 {
        @include make-col(4);
      }

      &--6 {
        @include make-col(6);
      }
    }

    @include media-breakpoint-down(md) {
      @include make-col(6)
    }

    @include media-breakpoint-down(sm) {
      @include make-col(12)
    }

  }
}
