.o-cover {
  $root: &;

  display: block;
  position: relative;
  padding-top: rem(300px);
  padding-bottom: rem(300px);
  overflow: hidden;
  z-index: 5;

  &__content {
    @include make-container();

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;
  }


  &__title {
    color: $white;
    font-size: $h1-font-size;
    margin-bottom: 0;

    &+& {
      margin-left: rem(20px);
    }
  }

  &--faq {
    padding-top: rem(200px);
    padding-bottom: rem(200px);
    position: relative;

    &::before {
      content: '';
      width: rem(80px);
      height: rem(80px);
      position: absolute;
      top: -(80px / 2);
      left: 200px;
      transform: rotate(45deg);
      background-color: $white;
      z-index: 5;
    }

    #{$root} {
      &__bg::after {
        background-color: rgba($primary, 0.7);
      }
    }
  }
}
