.o-history {
  padding-top: rem(100px);
  padding-bottom: rem(100px);
  background-color: $white;

  &__container {
    @include make-container();
    max-width: rem(1800px + $grid-gutter-width);
    padding-bottom: rem(60px);
  }

  &__title {
    margin-bottom: 0;
    display: flex;
    font-weight: $font-weight-bold;
  }

  &__title-num {
    margin-top: -25px;
    font-size: 60px;

    @include media-breakpoint-up(lg) {
      margin-top: -20px;
      font-size: 80px;
    }
  }

  &__text {
    color: #666666;
    font-size: rem(18px);
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    margin-top: rem(30px);
  }
}
