.o-brand {
  display: block;
  padding: rem(54px + 27px) 0;

  &__title {
    @include make-container();

    font-weight: $font-weight-bold;
    max-width: rem(1200px + $grid-gutter-width);
    margin-bottom: rem(57px);
  }

  &__container {
    width: 100%;
    text-align: center;
  }

  &__row {
    @include make-row($gutter: 0);
  }

  &__col {
    @include make-col-ready($gutter: 0);

    @include media-breakpoint-up(md) {
      @include make-col(4);
    }

    >.js-link {
      display: contents;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__text {
    @include make-container();

    font-size: rem(18px);
    max-width: rem(1080px);
    text-align: center;
    margin-top: rem(80px);
    padding-bottom: 0;
  }

  &__cta {
    font-size: rem(18px);
    line-height: rem(18px);
    padding: rem(20px) rem(50px);
    display: inline-block;
    text-align: center;
    position: relative;
    margin-top: rem(40px);
    margin-left: auto;
    margin-right: auto;
    font-weight: $font-weight-bold;
    overflow: hidden;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100%;
      transform: translate3d(0, 97%, 0);
      background-color: $primary;
      z-index: -1;
      transition: all 200ms ease-in-out;
    }

    &:hover {
      color: $white;

      &::after {
        transform: translate3d(0, 0, 0);
      }
    }
  }
}
