.c-service-hero-title {
  height: 105px;
  padding: 20px;
  position: fixed;
  z-index: 3;
  overflow: hidden;
  will-change: top, left;

  @include media-breakpoint-down(sm) {
    height: 80px;
  }

  @include media-breakpoint-down(lg) {
    height: rem(100px);
  }

  &__text {
    color: $white;
    letter-spacing: 1px;
    margin-bottom: 0;
    position: relative;
    z-index: 3;
  }
}
