.c-brand {
  width:  rem(120px);
  height:  rem(90px);
  position: relative;

  &__split {
    position: absolute;
    width:  rem(120px);
    height:  rem(90px);
    overflow: hidden;

    &--1 {
      clip-path: polygon(0 0, 0% 100%, 100% 0);
    }

    &--2 {
      clip-path: polygon(100% 100%, 0% 100%, 100% 0);
    }
  }

  &__image {
    width: rem(120px);
    height: rem(90px);
  }
}
