.c-brand {
  width:  rem(120px);
  height:  rem(90px);
  position: relative;

  &__split {
    position: absolute;
    width:  rem(120px);
    height:  rem(90px);
    overflow: hidden;

    &--1 {
      clip-path: polygon(0 0, 0% 100%, 100% 0);
    }

    &--2 {
      clip-path: polygon(100% 100%, 0% 100%, 100% 0);
    }
  }

  &__image {
    width: rem(120px);
    height: rem(90px);
    transition: 0.5s ease;
  }

  &__menu{
    position: relative;
    z-index: 2;
    opacity: 0;
    transition: 0.3s ease;
  }

  @include media-breakpoint-down(sm) {
    &,&__image, &__split {
      width: rem(80px);
      height: rem(65px);
    }
  }
}
