$card-width: rem(1120px);
$content-width: $card-width / 2;

.c-project-card {
  $root: &;

  position: relative;
  height: rem(665px);
  overflow: hidden;
  will-change: flex-basis, width;

  @include media-breakpoint-down(md) {
    width: 100%;
    height: rem(400px);

    &+& {
      margin-top: $grid-gutter-width;
    }
  }

  &__inner {
    width: $card-width;
    height: rem(665px);
    position: relative;

    @include media-breakpoint-down(xxl) {
      width: rem(1000px);
      height: 600px;
    }

    @include media-breakpoint-down(md) {
      width: 100%;
      height: rem(400px);

    }
  }

  &__image-wrap {
    position: absolute;
    inset: 0 0 0 0;
    z-index: 1;

    &::before {
      width: 70%;
      height: 100%;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba($black, 0.6);
      clip-path: polygon(0 0, 60% 0%, 100% 100%, 0% 100%);

      @include media-breakpoint-down(md) {
        width: 100%;
      }

    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left top;
  }

  &__content {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0px;
    overflow: hidden;
    transition: 1s ease;
    will-change: width;

    @include media-breakpoint-down(md) {
      width: 100%;
    }
  }

  &__content-inner {
    width: $content-width;
    height: 100%;
    text-align: center;
    padding: rem(30px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 1s ease;
    position: relative;
    z-index: 2;
    will-change: opacity;

    @include media-breakpoint-down(md) {
      width: 100%;
      opacity: 1;
    }

    @include media-breakpoint-down(sm) {
      padding: rem(16px);
    }
  }

  &__subtitle {
    color: $primary;
    font-size: rem(18px);
    margin-bottom: rem(40px);

    @include media-breakpoint-down(md) {
      margin-bottom: rem(15px);
    }
  }

  &__title {
    color: $white;
    font-size: rem(40px);
    font-family: $RobotoFontFamily;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    padding-bottom: rem(20px);
    margin-bottom: rem(20px);

    @include media-breakpoint-down(md) {
      padding-bottom: 0;
      font-size: rem(24px);
    }
  }

  &__text {
    margin-bottom: 0;
  }

  &__text,
  &__companey {
    color: $white;
    font-weight: $font-weight-medium;
  }

  &__companey {
    margin-top: 10px;
    margin-bottom: 0;
  }

  &__cta {
    color: $white;
    font-size: rem(20px);
    margin-top: rem(24px);
    padding: rem(6px) rem(20px);
    border: 2px solid $white;
    border-radius: 2px;
    transition: 0.3s ease;
    transition-property: color, backdrop-filter, background-color;

    @include media-breakpoint-down(md) {
      font-size: rem(16px);
    }

    &:hover {
      color: $white;
      backdrop-filter: blur(5px);
      background-color: rgba($white, 0.2);
    }
  }

  &.is-active {
    #{$root}__content {
      width: $content-width;
    }

    #{$root}__content-inner {
      opacity: 1;
    }

  }

}
