.c-cursor {
  $root: &;

  width: 1px;
  height: 1px;
  position: absolute;
  pointer-events: none;
  z-index: 1000;
  mix-blend-mode: difference;
  backface-visibility: hidden;

  &__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: rem(14px);
    height: rem(14px);
    border: 1px solid $white;
    background-color: $black;
    border-radius: rem(200px);
    transform: translate(-50%, -50%);
    transition: 0.2s ease;
    transition-timing-function: cubic-bezier(.645, .045, .355, 1);
    overflow: hidden;
  }

  &--big {
    #{$root}__inner {
      width: rem(100px);
      height: rem(100px);
    }
  }

  &--small {
    #{$root}__inner {
      width: rem(4px);
      height: rem(4px);
    }
  }
}
