.c-service-hero-title {
  height: 105px;
  padding: 20px;
  position: fixed;
  z-index: 3;
  overflow: hidden;
  will-change: top, left;

  &__text {
    color: $white;
    margin-bottom: 0;
    position: relative;
    z-index: 3;
  }
}
