.c-project {
  $root: &;

  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: rem($grid-gutter-width);
  position: relative;
  overflow: hidden;

  @include media-breakpoint-down(sm) {
    height: auto;
  }

  &__images {
    display: none;
  }

  &__bg {
    position: absolute;
    inset: 0 0 0 0;
    z-index: 1;
    transition: 0.4s ease-in-out;

    &::after {
      content: '';
      position: absolute;
      inset: 0 0 0 0;
      clip-path: polygon(0 0, 63% 0, 100% 100%, 0% 100%);
      background-color: rgba($primary, 0.5);
      opacity: 0;
      transition: 0.4s ease-in-out;
    }
  }

  &__bg-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__content {
    width: 100%;
    position: relative;
    z-index: 2;
  }


  &__content-inner {
    width: 100%;
    max-width: rem(400px);
  }

  &__title {
    color: $white;
    font-size: rem(28px);
    font-weight: $font-weight-bold;
    padding-bottom: rem(20px);
    margin-bottom: 0;
    position: relative;
    transform: translateY(20px);
    opacity: 0;
    transition: 0.4s ease-in-out;

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: -10px;
      width: rem(0px);
      height: rem(7px);
      background: $primary;
      clip-path: polygon(0 0, 100% 0, 87% 100%, 0% 100%);
      transition: width 0.3s;
    }

    &.has-child {
      display: flex;

      >span {
        font-size: rem(24px);
        margin-top: -8px;
        margin-left: 4px;
      }
    }
  }

  &__text {
    color: $white;
    margin-top: rem(10px);
    margin-bottom: 0;
    transform: translateY(-20px);
    opacity: 0;
    transition: 0.4s ease-in-out;
  }

  &__btn {
    color: $white;
    font-size: rem(16px);
    margin-top: rem(18px);
    padding: rem(6px) rem(20px);
    border: 2px solid $white;
    border-radius: 2px;
    background: transparent;
    transition: 0.4s ease-in-out;
    transform: translateY(-20px);
    opacity: 0;
    cursor: none;

    &:hover {
      color: $white;
      backdrop-filter: blur(5px);
      background-color: rgba($white, 0.2);
      cursor: none;

    }
  }

  &--lg {
    @include media-breakpoint-up(lg) {
      height: rem(464px);
    }

    #{$root} {
      &__bg::after {
        @include media-breakpoint-up(lg) {
          right: 35%;
        }
      }

      &__content {
        padding: rem(30px) rem(25px);

        @include media-breakpoint-up(lg) {
          padding: rem(60px) rem(65px);
        }
      }

      &__title {
        font-size: rem(30px);
        font-weight: $font-weight-bolder;
      }
    }
  }

  &--md {
    @include media-breakpoint-up(lg) {
      height: rem(280px);
    }

    #{$root} {
      &__bg::after {
        @include media-breakpoint-up(lg) {
          right: 35%;
        }
      }
      &__content {
        padding: rem(30px) rem(25px);
      }

      &__text {
        max-height: rem(80px);
        overflow: hidden;
      }
    }
  }

  &--sm {
    @include media-breakpoint-up(lg) {
      height: rem(323px);
    }

    #{$root} {

      &__bg::after {
        @include media-breakpoint-up(lg) {
          right: 3%;
        }
      }

      &__content {
        padding: rem(30px) rem(25px);
      }

      &__text {
        max-height: rem(80px);
        overflow: hidden;
      }
    }
  }

  &:hover {
    #{$root} {

      &__title,
      &__text,
      &__btn {
        transform: translateY(0);
        opacity: 1;
      }

      &__title::before {
        width: rem(50px);
      }

      &__bg {
        transform: scale(1.08);

        &::after {
          opacity: 1;
        }
      }


    }
  }

}
