.c-brand {
  width:  rem(120px);
  height:  rem(90px);
  position: relative;

  &__split {
    position: absolute;
    width: 100%;
    height: 100%;

    &--1 {
      right: 0;
      bottom: 0;
    }

    &--2 {
      top: 0;
      left: 0;
    }
  }

  &__image {
    width: rem(120px);
    height: rem(90px);
  }
}
