/* ==========================================================================
   #TYPOGRAPHY-VARIABLES
   ========================================================================== */

  $RubikFontFamily:             'Rubik', sans-serif;

  $font-family-base:            $RubikFontFamily !default;
  $headings-font-family:        $RubikFontFamily !default;

  $font-weight-light:           300 !default;
  $font-weight-normal:          400 !default;
  $font-weight-medium:          500 !default;
  $font-weight-semibold:        600 !default;
  $font-weight-bold:            700 !default;
  $font-weight-heavy:           800 !default;
  $font-weight-bolder:          900 !default;

  $display1-weight:             $font-weight-normal !default;
  $headings-font-weight:        500 !default;


  $font-size-base:              1rem !default; // Assumes the browser default, typically `16px`

  $h1-font-size:                $font-size-base * 3 !default; //48px
  $h2-font-size:                $font-size-base * 2.25 !default;  //36px
  $h3-font-size:                $font-size-base *  1.5!default;  // 24px
  $h4-font-size:                $font-size-base * 1.25 !default; //20px
  $h5-font-size:                $font-size-base * 1.125 !default; //18px
  $h6-font-size:                $font-size-base !default;

  $display1-size:               $font-size-base * 5.5 !default;


  $line-height-base:            1.6 !default;
  $headings-line-height:        1.2 !default;


  $headings-color:              null !default;
