/* ==========================================================================
   #COLOR-VARIABLES
   ========================================================================== */

  $primary-01:    #ed5a00;
  $primary-02:    #ec7123;
  $primary-03:    #f28c44;
  $secondary-01:  #FFC400;
  $secondary-02:  #FFD64E;
  $white:         #FFFFFF;
  $black:         #000000;
  $grey-dark:     #4F4F4F;
  $grey:          #333333;
  $grey-light:    #E0E0E0;
  $green:         #27AE60;

  $primary:       $primary-02;
  $secondary:     $secondary-01;


